
@include fontFace('icomoon','/fonts/icomoon', 'normal');

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-blocks:before {
	content: "\e900";
}
.icon-cart:before {
	content: "\e901";
}
.icon-person:before {
	content: "\e902";
}
.icon-communication:before {
	content: "\e903";
}
.icon-geo:before {
	content: "\e904";
}
.icon-messages:before {
	content: "\e905";
}
.icon-big-cart:before {
	content: "\e906";
}
.icon-bookmark:before {
	content: "\e907";
}
.icon-profile:before {
	content: "\e908";
}
.icon-search:before {
	content: "\e909";
}
.icon-notifications:before {
	content: "\e90a";
}


