
@include fontFace('icomoon','../fonts/icomoon', 'normal');

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bag:before {
	content: "\e916";
}
.icon-arrow-right:before {
	content: "\e902";
}
.icon-house:before {
	content: "\e915";
}
.icon-like:before {
	content: "\e913";
}
.icon-chat:before {
	content: "\e914";
}
.icon-search:before {
	content: "\e907";
}
.icon-arrow-up-big:before {
	content: "\e900";
}
.icon-heart-full:before {
	content: "\e901";
}
.icon-blocks:before {
	content: "\e903";
}
.icon-cart:before {
	content: "\e904";
}
.icon-person:before {
	content: "\e905";
}
.icon-profile:before {
	content: "\e906";
}
.icon-envelope:before {
	content: "\e908";
}
.icon-geo:before {
	content: "\e909";
}
.icon-people:before {
	content: "\e90a";
}
.icon-arrow-down-small:before {
	content: "\e90b";
}
.icon-bell:before {
	content: "\e90c";
}
.icon-big-cart:before {
	content: "\e90d";
}
.icon-arrow-down-big:before {
	content: "\e90e";
}
.icon-bookmark:before {
	content: "\e90f";
}
.icon-heart:before {
	content: "\e910";
}
.icon-link:before {
	content: "\e911";
}
.icon-burger:before {
	content: "\e912";
}
.icon-star-empty:before {
	content: "\e9d7";
}
.icon-star-half:before {
	content: "\e9d8";
}
.icon-star-full:before {
	content: "\e9d9";
}
.icon-facebook:before {
	content: "\ea90";
}
.icon-instagram:before {
	content: "\ea92";
}
.icon-vimeo:before {
	content: "\eaa0";
}