.icon-cart {
  color: #fff;
}

.indicator {
  position: absolute;

  text-align: center;
  background-color: rgba(250, 193, 42, 1);
  border-radius: 8px;

  font-weight: 900;
  color: #fff;
  text-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.17);
}
.header {
  margin-bottom: 16px;
}
.header__top {
  position: relative;
  min-height: 66px;
  background-color: rgba(62, 72, 80, 1);
  z-index: 9999;
}
.header__top__menu {
  font-size: 0;
  margin-left: 10px;
}
.header__top__menu__item {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 115px;
  height: 50px;
  margin-top: 16px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  text-decoration: none;
  &:after {
    content:" ";
    position: absolute;
    top: 9px;
    right: -10px;
    width: 0;
    height: 0;
    border-bottom: 41px solid #fff;
    border-right: 10px solid transparent;
  }
  &:before {
    content:" ";
    position: absolute;
    top: 9px;
    left: -10px;
    width: 0;
    height: 0;
    border-bottom: 41px solid #fff;
    border-left: 10px solid transparent;
  }
  &.active {
    background-color: #fff;
    .name {
      color: #000;
    }
  }
  .name {
    display: block;
    margin-top: 16px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, .8);
  }
  .indicator {
    top: 14px;
    right: 14px;
    width: 6px;
    line-height: 6px;
    font-size: 0;
    transition: all .2s ease;
  }
  &:hover .indicator{
    top: 4px;
    right: 3px;
    width: 28px;
    font-size: 10px;
    line-height: 16px;
    transition: all .2s ease;
  }
}
.header__top__menu__item--marketplace {
  z-index: 3;
}
.header__top__menu__item--classifields {
  margin-left: 10px;
  background-color: rgba(134, 150, 159, 1);
  z-index: 2;
  &:after {
    border-bottom: 41px solid rgba(134, 150, 159, 1);
  }
  &:before {
    border-bottom: 41px solid rgba(134, 150, 159, 1);
  }
}
.header__top__menu__item--social {
  margin-left: 10px;
  background-color: rgba(38, 56, 68, 1);
  z-index: 1;
  &:after {
    border-bottom: 41px solid rgba(38, 56, 68, 1);
  }
  &:before {
    border-bottom: 41px solid rgba(38, 56, 68, 1);
  }
}



.header__top__control {
  display: flex;
  //height: 100%;
  //min-height: 66px;
}

.header__top__control__item {
  display: flex;
  align-items: center;
  position: relative;
  width: 67px;
  text-decoration: none;
  transition: all .3s ease;
  i {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 28px;
    color: #fff;
  }
  &:hover {
    background-color: rgba(38, 56, 68, 1);
    transition: all .3s ease;
  }
  .indicator {
    top: 12px;
    right: 8px;
    width: 28px;
    line-height: 16px;
    font-size: 10px;
    border: 3px solid rgba(62, 72, 80, 1);
  }
}
.header__top__control__item--messages {
  i {
    font-size: 24px;
    margin-bottom: 0;
  }
}
.header__top__signin {
  display: flex;
  //float: right;
  //height: 100%;
  //min-height: 66px;
  align-items: center;
}
.btn-signin {
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 13px;
  padding-right: 13px;
  line-height: 36px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 18px;

  color: #fff;
  font-size: 12px;
  font-weight: 900;
  text-decoration: none;
  transition: all .3s ease;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(250, 193, 42, 1);
    transition: all .3s ease;
  }
}

.header__top__profile {
  position: relative;
  //display: flex;
  //height: 100%;
  height: 66px;
  width: 67px;
  //align-items: center;
  .dropdow--profile {
    //opacity: 0;
    z-index: -1;
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    right: 0;
    background-color: #3e4850;
    transition: $all2;
      a {
        color: #fff;
      }
  }
  &:hover {
    .dropdow--profile {
      display: block;
      transition: $all2;
      opacity: 1;
      z-index: 1;
    }
  }
}
.header__top__profile__item {
  position: relative;
  display: flex;
  height: 100%;
  //min-height: 66px;
  flex: 1;
  align-items: center;
  text-decoration: none;
  color: #fff;
  justify-content: center;
  transition: all .3s ease;
  .indicator {
    top: 17px;
    right: 14px;
    width: 6px;
    height: 6px;
    font-size: 0;
  }
  &:hover {
    background-color: rgba(38, 56, 68, 1);
    transition: all .3s ease;
  }
  i {
    font-size: 28px;
  }
}
.header__middle {
  .block {

  }
}
.header__middle__logo {
  margin-top: 24px;
  height: 42px;
  width: 200px;
  padding-left: 18px;
}

.header__middle__search {
  //flex: 1;
  min-height: 42px;
  width: 100%;
  order: 3;
  margin-top: 24px;
  margin-bottom: 24px;
}
.header__middle__info {
  //flex: 0 0 180px;
  margin-top: 24px;
}
.search {
  border: 1px solid rgba(203, 203, 203, 1);
  border-radius: 10px;
  width: 100%;
  display: flex;
  overflow: hidden;

  .search__input {
    flex: 1;
    margin-top: 6px;
    padding-left: 30px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid rgba(214, 214, 214, 1);
    border-right: 1px solid rgba(214, 214, 214, 1);
    font-family: "Lato";
    outline: none;
    &::placeholder {
      font-size: 14px;
      color: rgba(155, 155, 155, 1);
    }
  }
  .search__submut {
    flex: 0 0 70px;

    background-color: rgba(228, 235, 238, 1);
    border: none;
    border-left: 1px solid rgba(203, 203, 203, 1);
    transition: all .2s ease;
    cursor: pointer;
    &:hover {
      background-color: rgba(91, 192, 235, 1);
      transition: all .2s ease;
    }
    &:hover .icon{
      color: #fff;
      transition: all .2s ease;
    }
    .icon {
      font-size: 20px;
    }
  }
  .dropdown {
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    color: rgba(67, 72, 77, 1);
    select {
      padding: 0 20px;
      line-height: 42px;
    }
    .icon {
      font-size: 7px;
      top: 50%;
      right: 7px;
      margin-top: -4px;
    }
  }
  .dropdown--all {
    flex: 0 0 97px;
    box-sizing: border-box;
  }
  .dropdown--categories {
    flex: 0 0 156px;
    box-sizing: border-box;
  }
}
.header__middle__info {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(155, 155, 155, 1);
  .top {
    margin-bottom: 3px;
  }
  .location, .bottom {
    font-weight: bold;
    color: #000;
  }
  .change {
    float: right;
    font-weight: normal;
    color: rgba(155, 155, 155, 1);
  }
}
.header__middle__info__icon {
  width: 43px;
  i {
    font-size: 30px;
    color: #000;
  }
}
.header__bottom {
  border-bottom: 1px solid rgba(138, 149, 155, 0.28);
  .flex-container {
    align-items: flex-end;
  }
}
.header__bottom__dropdown {
  flex: 0 0 200px;
  background-color: rgba(228, 235, 238, 1);
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  transition: all .2s ease;
  &:hover {
    transition: all .2s ease;
    background-color: rgba(228, 238, 238, 1);
  }
  select {
    padding: 0 30px;
    line-height: 42px;
    height: 42px; //for mozilla
  }
  .icon {
    top: 18px;
    right: 8px;
    font-size: 8px;
  }
}
.header__bottom__nav {
  flex: 1;
  margin-left: 15px;
  font-size: 0;
  a {
    display: inline-block;
    padding-right: 13.5px;
    padding-left: 13.5px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(62, 72, 79, 1);
    text-decoration: none;
    //transition: all .2s ease;
    &:hover {
      color: rgba(255, 88, 100, 1);
      //transition: all .2s ease;
      text-decoration: underline;
    }
  }
}
.header__bottom__register {
  flex: 0 0 150px;
  .btn--register-seller {
    width: 100%;
    display: inline-block;
    line-height: 34px;
    background-color: rgba(240, 58, 71, 1);
    border-radius: 8px 8px 0px 0px;
    font-size: 10px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    &:hover {
      transition: all .2s ease;
      background-color: rgba(255, 88, 100, 1);
    }
  }
}
@media screen and (max-width: 810px) {
  .header__top {
    .flex-container {
      flex-direction: column-reverse;
    }
    .block {
      justify-content: center;
    }
  }
}
@media screen and (min-width: 1024px) {
  .header__bottom__nav a {
    margin-bottom: 7px;
  }
}
@media screen and (min-width: 1024px) {
  .header__middle {
    .block {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
  .header__middle__logo {
    height: 42px;
    //width: 200px;
    flex: 0 0 200px;
    //background: deeppink;
  }

  .header__middle__search {
    flex: 1;
    padding-right: 30px;
    padding-left: 30px;
    order: 0;
  }
  .header__middle__info {
    flex: 0 0 180px;
  }
}