<footer class="footer">
    <div class="footer__top">
        <div class="flex-container">
            <div class="block">
                <div class="footer__top__logo">
                    <a href=""></a>
                </div>
            </div>
            <div class="block">
                <div class="footer__top__subscribe">
                    <form class="subscribe" id="subscribe">
                        <input class="subscribe__input" placeholder="Please enter your Email to get promos and coupons">
                        <button class="subscribe__submit">SUBSCRIBE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__middle">
        <div class="flex-container">
            <div class="nav-list">
                <h2><a href="">GET TO KNOW US</a></h2>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Press Releases</a></li>
                    <li><a href="">Buysellpay Carrers</a></li>
                </ul>
            </div>
            <div class="nav-list">
                <h2><a href="">MAKE MONEY WITH US</a></h2>
                <ul>
                    <li><a href="">Reffers and Earns</a></li>
                    <li><a href="">Register as a seller</a></li>
                    <li><a href="">Pay with us</a></li>
                    <li><a href="">Local stores service</a></li>
                </ul>
            </div>
            <div class="nav-list">
                <h2><a href="">LET US HELP YOU</a></h2>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Shipping</a></li>
                    <li><a href="">Quality Service</a></li>
                </ul>
            </div>
            <div class="nav-list">
                <h2><a href="">CONNECT US</a></h2>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Linkedin</a></li>
                </ul>
            </div>
            <div class="nav-list">
                <h2><a href="">COUNTRIES OF SERVICE</a></h2>
                <ul>
                    <li><a href="">UAE</a></li>
                    <li><a href="">KSA</a></li>
                    <li><a href="">OMAN</a></li>
                    <li><a href="">Kuwait</a></li>
                </ul>
                <ul>
                    <li><a href="">Qatar</a></li>
                    <li><a href="">Bahrain</a></li>
                    <li><a href="">Lebanon</a></li>
                    <li><a href="">More soon</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="flex-container">
            <span class="copyright">2016 Buysellpay. All rights reserved.</span>
        </div>
    </div>
</footer>
    