<header class="header">
    <div class="header__top">
        <div class="flex-container">
            <div class="block">
                <div class="header__top__menu">
                    <a href="" class="header__top__menu__item header__top__menu__item--marketplace active">
                        <span class="name">Marketplace</span>
                        <!--<span class="indicator"></span>-->
                    </a>
                    <a href="" class="header__top__menu__item header__top__menu__item--classifields">
                        <span class="name">Classifields</span>
                        <span class="indicator">6</span>
                    </a>
                    <a href="" class="header__top__menu__item header__top__menu__item--social">
                        <span class="name">Social</span>
                        <span class="indicator">3</span>
                    </a>
                </div>
            </div>
            <div class="block">
                <div class="header__top__control">
                    <a href="" class="header__top__control__item header__top__control__item--cart">
                        <i class="icon"><img src="../img/cart.svg"></i>
                        <span class="indicator">12</span>
                    </a>
                    <a href="" class="header__top__control__item header__top__control__item--notifications">
                        <i class="icon"><img src="../img/cart.svg"></i>
                        <span class="indicator">32</span>
                    </a>
                    <a href="" class="header__top__control__item header__top__control__item--messages">
                        <i class="icon"><img src="../img/cart.svg"></i>
                        <span class="indicator">22</span>
                    </a>
                </div>

                <div class="header__top__signin">
                    <a href="" class="btn-signin">SIGN IN / SIGN UP</a>
                </div>
                <div class="header__top__profile">
                    <a href="" class="header__top__profile__item">
                        <i class="icon"><img src="../img/cart.svg"></i>
                        <span class="indicator"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__middle">
        <div class="flex-container">
            <div class="block header__middle__logo">
                <a href="" class=""></a>
            </div>
            <div class="block header__middle__search">
                <form class="search" id="search">
                    <div class="dropdown dropdown--all">All</div>
                    <input class="search__input" placeholder="How can we help you today?">
                    <div class="dropdown dropdown--categories">All Categories</div>
                    <button class="search__submut" type="submit"><i class="icon"></i></button>
                </form>
            </div>
            <div class="block header__middle__info">
                <div class="header__middle__info__icon">
                    <i class="icon"><img src="../img/cart.svg"></i>
                </div>
                <div class="header__middle__info__location">
                    <div class="top">My location is <span class="location">Bahrain</span></div>
                    <div class="bottom">
                        <span class="currency">USD</span> | <span class="language">Eng</span>
                        <a class="change" href="">Change</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="flex-container">
            <div class="dropdown header__bottom__dropdown">

                All Categories
            </div>
            <nav class="header__bottom__nav">
                <a href="" class="header__bottom__nav__item">Today’s Deals</a>
                <a href="" class="header__bottom__nav__item">Gift Cards</a>
                <a href="" class="header__bottom__nav__item">Premium</a>
                <a href="" class="header__bottom__nav__item">Discounts</a>
                <a href="" class="header__bottom__nav__item">Trends</a>
                <a href="" class="header__bottom__nav__item">Bestselling</a>
            </nav>
            <div class="header__bottom__register">
                <a class="btn--register-seller" href="">+ REGISTER AS A SELLER</a>
            </div>
        </div>
    </div>
</header>
    