<section class="how-it-works">
    <a href="" class="how-it-works__title featured__block__title--red">HOW BUYSELL PAY WORKS</a>
    <ul class="desktop-view">
        <li class="block">
            <a href="" class="">
                <i class="icon icon-big-cart"></i>
                <span class="name">AWESOME SHOP</span>
                <span class="desc">The most customizable eCommerce platform for building your online business.</span>
            </a>
        </li>
        <li class="block">
            <a href="">
                <i class="icon icon-person"></i>
                <span class="name">AWESOME SHOP</span>
                <span class="desc">The most customizable eCommerce platform for building your online business.</span>
            </a>
        </li>
        <li class="block">
            <a href="" class="">
                <i class="icon icon-people"></i>
                <span class="name">AWESOME SHOP</span>
                <span class="desc">The most customizable eCommerce platform for building your online business.</span>
            </a>
        </li>
        <li class="block">
            <a href="" class="">
                <i class="icon icon-blocks"></i>
                <span class="name">AWESOME SHOP</span>
                <span class="desc">The most customizable eCommerce platform for building your online business.</span>
            </a>
        </li>
        <li class="block">
            <a href="" class="">
                <i class="icon icon-bookmark"></i>
                <span class="name">AWESOME SHOP</span>
                <span class="desc">The most customizable eCommerce platform for building your online business.</span>
            </a>
        </li>
    </ul>
</section>
<section class="apps">
    <div class="title">TRY OUR AWESOME APP</div>
    <a href="" class="btn--app">
        <img width="21" src="img/apple.png">
        <span>DOWNLOAD ON THE</span>
        <span>APP STORE</span>
    </a>
    <a href="" class="btn--app">
        <img width="23" src="img/google_play.png">
        <span>GET IT ON</span>
        <span>GOOGLE PLAY</span>
    </a>
</section>
<section class="mobile-view">
    <a href="" class="btn--to-top">
        <span>To the top</span>
        <i class="icon icon-arrow-right"></i>
    </a>
</section>