@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";

@import "partials/fonts";

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import "partials/header";
@import "partials/footer";

.flex-container, .main-container {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //align-items: stretch;
  .block {
    display: flex;
  }
}
* {
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
select {
  border:none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  font-family: 'Lato', sans-serif;
}
.clearfix:after {
  content:" ";
  display:table;
  clear:both;
}
.featured {
  display: flex;
}
.featured__block {
  border: 1px solid rgba(138, 149, 155, 0.23);
  border-radius: 6px;
  overflow: hidden;
  transition: all .2s ease;
  &:hover {
    transition: all .2s ease;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  }
}
.featured__block__title {
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 17px;
  line-height: 40px;
  .name {
    font-size: 16px;
    font-weight: 600;
  }
  .view-more {
    font-size: 16px;
    font-weight: 400;
    color: rgba(167, 180, 191, 1);
    text-decoration: none;
    transition: all .2s ease;
    &:hover {
      transition: all .2s ease;
      color: rgba(91, 192, 235, 1);
      text-decoration: underline;
    }
  }
}
.featured__block__title--blue {
  border-bottom: 3px solid rgba(91, 192, 235, 1);
}
.featured__block__title--red {
  border-bottom: 3px solid rgba(240, 58, 71, 1);
}
.featured__block__left {
  margin-right: 11px;
  flex: 1;
}
.featured__block__right {
  flex: 0 0 300px;
}
.featured__block__content {
  display: flex;
  overflow: hidden;
  .product {
    width: 100%;
    text-align: center;
    .title {
      margin-top: 29px;
      margin-bottom: 18px;
      min-height: 45px;

      a {
        font-size: 18px;
        color: rgba(62, 72, 80, 1);
        text-decoration: none;
      }

    }
    .image {
      display: block;
      width: 100%;
      height: 207px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}
.title__time {
  font-weight: 700;
  color: rgba(91, 192, 235, 1);
}
.featured__block-with-pic {
  .image {
    display: block;
    width: 70%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .product {
    width: 30%;
  }
}
.image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}
.btn {
  display: block;
  max-width: 80px;
  margin: 0 auto;
  padding: 13px 29px;
  border: 2px solid rgba(91, 192, 235, 1);
  border-radius: 22px;

  font-size: 14px;
  font-weight: 700;
  color: rgba(91, 192, 235, 1);
  text-decoration: none;
  transition: all .2s ease;
  &:hover {
    transition: all .2s ease;
    background-color: rgba(91, 192, 235, 1);
    color: rgba(255, 255, 255, 1);
  }
}
.btn--price {
  display: block;
  max-width: 90px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 11px;
  padding-left: 13px;
  padding-right: 13px;
  border: 1px solid rgba(62, 72, 80, .5);
  border-radius: 17px;
  line-height: 34px;
  color: rgba(62, 72, 80, 1);

  text-decoration: none;
}
.btn--price--small {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 65px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgba(62, 72, 80, .5);
  border-radius: 17px;
  line-height: 30px;
  color: rgba(62, 72, 80, 1);
  text-decoration: none;
}
.old-price {
  display: block;
  margin: 0 auto;
  margin-bottom: 7px;
  max-width: 75px;
  font-size: 14px;
  color: rgba(165, 179, 190, 1);
  text-decoration: line-through;
}

.product-btn {
  position: absolute;
  bottom: 22px;
  display: block;
  max-width: 160px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  line-height: 50px;
  background-color: rgba(62, 72, 80, .9);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.categories__right--with-padding {
  .product-btn {
    bottom: 12px;
  }
}
.slider-with-products {
  display: flex;
  margin-top: 7px;
  border: 1px solid rgba(138, 149, 155, 0.23);
  border-radius: 6px;
  //fix for slick
  * {
    min-height: 0;
    min-width: 0;
  }
  transition: all .2s ease;
  &:hover {
    transition: all .2s ease;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  }
}

.slider-with-products__announce {
  flex: 0 0 240px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: -1000px, -1000px;
  background-repeat: no-repeat;

  .title {
    font-size: 20px;
    font-weight: 700;
    color: rgba(62, 72, 80, 1);
  }
  .detail {
    margin-top: 10px;
    font-size: 18px;
    color: rgba(62, 72, 80, 1);
  }
  .btn {
    margin-top: 50px;
  }
}
.slider-with-products__slider {
  flex: 1;
  padding-right: 50px;
  padding-left: 30px;
  padding-top: 36px;
  flex-direction: column;
  .slider {
    display: block;
  }
  .image {
    display: block;
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
.slider-with-products__slider__inner {
  display: block;
  width: 100%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  border: none;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  //background-color: rgba(38, 56, 68, .6);
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  background-color: transparent;
  transition: all .2s ease;
  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 18px;
    width: 12px;
    height: 2px;
    background: rgba(175, 175, 175, 1);
    border-radius: 35px;
    transform: rotate(45deg);
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 10px;
    width: 12px;
    height: 2px;
    background: rgba(175, 175, 175, 1);
    border-radius: 35px;
    transform: rotate(-45deg);
  }
  &:hover {
    transition: all .2s ease;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.23);
  }
}
.slick-prev {
  left: -45px;
  &:after {
    top: 15px;
    right: 15px;
  }
  &:before {
    top: 22px;
    right: 15px;
  }
}
.slick-next {
  right: -45px;
  transform: rotate(180deg);
  &:after {
    top: 15px;
    right: 15px;
  }
  &:before {
    top: 22px;
    right: 15px;
  }
}

.slider-products {

}
.banners {
  margin-bottom: 16px;
}
.slider-banners {
  a {
    width: 100%;
    min-height: 380px;
  }
  .slick-arrow {
    width: 48px;
    height: 48px;
    background-color: rgba(38, 56, 68, .6);
    border-radius: 50%;
    z-index: 999;
    margin-top: -24px;
    transition: all .2s ease;
    &:hover {
      transition: all .2s ease;
      background-color: rgba(38, 56, 68, 1);
    }

  }
  .slick-prev {
    left: 14px;
    &:after {
      background-color: #fff;
      top: 20px;
      right: 19px;
    }
    &:before {
      background-color: #fff;
      top: 27px;
      right: 19px;
    }
  }
  .slick-next {
    right: 14px;
    &:after {
      background-color: #fff;
      top: 20px;
      right: 19px;
    }
    &:before {
      background-color: #fff;
      top: 27px;
      right: 19px;
    }
  }
}
.slick-dots {
  position: absolute;
  //max-width: 100px;
  bottom: 9px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  text-align: center;
  li {
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: rgba(71, 85, 92, 1);
    border: 1px solid rgba(138, 149, 155, 1);
    border-radius: 50%;
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
    &.slick-active {
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(255, 255, 255, 1);
    }
    button {
      height: 100%;
      width: 100%;
      background: transparent;
      border: none;
    }
  }
}
.categories {
  position: relative;
  min-height: 420px;
  margin-top: 16px;

}
.categories__inner {
  display: flex;
  border: 1px solid rgba(138, 149, 155, 0.23);
  border-radius: 6px;
  overflow: hidden;
  transition: all .2s ease;
  &:hover {
    transition: all .2s ease;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  }
}
.categories__left {
  display: flex;
  width: 47%;
  height: 423px;
}
.categories__list {
  position: relative;
  flex: 0 0 230px;

  ul {
    max-height: 380px;
    overflow-y: scroll;
  }
  text-align: left;
  li {

    a {
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 17px;
      font-size: 16px;
      font-weight: 300;
      color: rgba(62, 72, 80, 1);
      border-left: 5px solid transparent;
      text-decoration: none;
      transition: all .2s ease;
      &:hover {
        transition: all .2s ease;
        background-color: rgba(91, 192, 235, .1);
        border-left: 5px solid rgba(91, 192, 235, 1);
      }
    }
  }

}
.categories__list__links {
  li {
    display: flex;
  }
}
.categories__list__title {
  text-transform: uppercase;
}
.categories__featured {
  flex: 1;
  height: 100%;

  .image {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
.categories__right {
  display: flex;
  width: 53%;
  height: 407px;
  padding: 8px;
}
.categories__featured--two-in-row {
  width: 50%;
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}
.categories__featured--two-in-column {
  display: flex;
  flex-direction: column;
  a {

    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.how-it-works {
  margin-top: 16px;
  border: 1px solid rgba(138, 149, 155, 0.23);
  border-radius: 6px;
  overflow: hidden;
  font-size: 0;
  .featured__block__title {
    text-align: center;
  }
  .block {
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    text-align: center;

    a {
      display: block;
      padding-top: 73px;
      padding-bottom: 82px;
      font-weight: 300;
      color: rgba(74, 74, 74, 1);
      border-right: 1px solid rgba(138, 149, 155, 0.23);
      text-decoration: none;
      transition: all .3s ease;
      &:hover {
        transition: all .3s ease;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
      }
    }
    &:last-child a{
      border-right: none;
    }
    .name {
      display: block;
      margin-top: 46px;
      margin-bottom: 18px;
      font-size: 20px;
    }
    .desc {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 12px;
    }
    i {
      font-size: 40px;
      color: rgba(240, 58, 71, 1);
    }
  }
}
.how-it-works__title {
  display: block;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: rgba(62, 72, 80, 1);
}
.apps {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(138, 149, 155, 0.23);
  border-radius: 6px;
  padding-top: 31px;
  padding-bottom: 39px;
  text-align: center;
  background-image: url("../img/iphone.png"),
                    url("../img/iphone2.png");
  background-position: right center, left 80px bottom;
  background-repeat: no-repeat no-repeat;
  .title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(62, 72, 80, 1);
  }
}
.btn--app {
  width: 223px;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(133, 149, 162, 1);
  border-radius: 28px;
  text-decoration: none;
  margin-right: 15px;
  transition: all .2s ease;
  &:last-child {
    margin-right: 0;
  }
  img {
    display: inline-block;
    float: left;
    margin-left: 20px;
  }
  span {
    display: block;
    margin-left: 60px;
    letter-spacing: 0.0286em;
    font-size: 13px;
    color: #fff;
    text-align: left;
  }
  &:hover {
    transition: all .2s ease;
    background-color: rgba(91, 192, 235, 1);
  }
}
.mobile-view {
  display: none !important;
  .btn--view-all {
    display: flex;
    //width: 100%;
    margin-bottom: 10px;
    margin-right: -6px;
    margin-left: -6px;
    padding-right: 15px;
    padding-left: 17px;
    line-height: 44px;
    background-color: rgba(228, 235, 238, 1);
    font-size: 16px;
    font-weight: 700;
    color: rgba(62, 72, 80, 1);
    text-decoration: none;
  }
  .btn--to-top {
    display: flex;
    //width: 100%;
    margin-bottom: 9px;
    margin-right: -6px;
    margin-left: -6px;
    padding-right: 15px;
    padding-left: 17px;
    line-height: 44px;
    background-color: rgba(240, 58, 71, 1);
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
}
.panel-control {
  position: absolute;
  top: 85px;
  right: -6px;
  width: 50px;
  height: 100px;
  background-color: rgba(62, 72, 80, .8);
  border-radius: 15px 0 0 15px;
  z-index: 9999;
}

@media screen and (min-width: 680px) and (max-width: 960px) {
  .categories__left {
    width: 30%;
    .categories__list {
      flex: 1;
    }
    .categories__featured {
      display: none;
    }
  }
  .categories__right {
    width: 70%;
  }
  .featured__block__left {
    flex: auto;
    width: 50%;
    .featured__block__content {
      .big-banner {
        display: none;
      }
      .product {
        width: 100%;
      }
    }
  }
  .how-it-works {
    .block {
      a {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}
@media screen and (max-width: 680px) {
  .mobile-view {
    display: block !important;
  }
  .desktop-view {
    display: none !important;
  }
  .flex-container, .main-container {
    padding-left: 6px;
    padding-right: 6px;
  }
  .header {
    margin-bottom: 0;
  }
  .header__bottom, .header__middle, .header__top__menu {
    display: none;
  }
  .banners {
    margin-bottom: 0;
    margin-right: -6px;
    margin-left: -6px;
  }
  .slider-banners {
    a {
      min-height: 150px;
    }
  }
  .featured__block {
    padding-bottom: 12px;
    .product {
      .title {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
  .featured__block__title {
    justify-content: space-around;
    padding: 0;
    .name {
      font-size: 13px;
    }
  }
  .featured__block__right {
    flex: auto;
    width: 50%;
    .old-price {
      display: none;
    }
  }
  .featured__block__left {
    flex: auto;
    width: 50%;
    margin-right: 6px;
    .featured__block__content {
      .big-banner {
        display: none;
      }
      .product {
        width: 100%;
        .image {

        }
      }
    }
    .old-price {
      display: none;
    }
  }
  .slider-with-products__announce {
    flex: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: left -70px center, right -70px center;
  }
  .categories {
    min-height: 230px;
  }
  .categories__right, .categories__featured {
    display: none;
  }
  .categories__left {
    width: 100%;
    height: 230px;
  }
  .categories__list{
    width: 100%;
    flex: auto;
    ul {
      display: none;
    }
    .slider-banners {
      a {
        min-height: 190px;
      }
    }
  }
  .categories {
    margin-top: 6px;
  }

  .how-it-works {
    margin-top: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .how-it-works__title {
    padding-left: 20px;
    text-align: left;
  }
  .apps {
    margin-top: 6px;
    margin-bottom: 6px;
    background-image: none;
    .btn--app {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
  .footer__top {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer__middle {
    .flex-container {
      flex-direction: column;
      text-align: center;
    }
  }
  .nav-list {
    margin-bottom: 10px;
    h2 {
      width: 100%;
      margin-bottom: 0;
      a {
        color: rgba(255, 255, 255, .75);
        font-weight: 400;
      }
    }
    ul {
      display: none;
    }
  }
  .subscribe__submit {
    border-radius: 2px;
  }
}